<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    
    </startup>
    <appSettings>
        <add key="AuthorizationMethod" value="OAuth2" />
        <add key="OAuth2ClientId" value="1025609812109-1ghs34h0rc39ieb88teqtnljk5d9phvt.apps.googleusercontent.com" />
        <add key="OAuth2ClientSecret" value="JH24MtqnrWFSpoRGqZy6X3mE" />
        <add key="OAuth2Mode" value="APPLICATION" />
        <add key="YouTubeAPIKey" value="AIzaSyC4DBT7NOO1mosvhXmbh3CKVj4n_7ivgzc" />
    </appSettings>
</configuration>